* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: 'Yantramanav', sans-serif;
}

body p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}

.header-banner {
  color: #394956
}

.header-banner p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 22px;
}

header h1 {
  font-weight: 900;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}

h6 {
  font-size: 12px;
}

.header-banner h6 {
  margin-top: 30px;
}

/* centratura larga */
.frame-big {
  width: 60%;
  margin: auto;
  /* colore di debug */
}

/* centratura piccola */
.frame-small {
  width: 55%;
  margin: auto;
  /* colore di debug */
}

/* per togliere i puntini ai list */
.li-depoint {
  list-style: none;
}

.btn-orange {
  color: white;
  border-radius: 5px;
  border: none;
  background-color: #ff7a59;
  padding: 16px 38px;
  font-size: 12px;
}


/* HEADER TOP SET */
.header-top {
  height: 140px;
}

.extra-color-line1 {
  background-color: #f4f9fd;
  height: calc(100% / 2);
  border-bottom: 1px solid black;
}

.ul-contact li, .ul-login li, .ul-logo li, .ul-menu li {
  display: inline-block;
}

.extra-color-line2 {
  background-color: #ffffff;
  height: calc(100% / 2);
}

.header-top-line2 {
  height: calc(100% / 2);
}

.header-top-line1-sx {
  width: 50%;
  text-align: left;
  float:left;
}

.header-top-line1-dx {
  width: 50%;
  text-align: right;
  float:left;
}

.header-top-line2-sx {
  width: 50%;
  text-align: left;
  float:left;
}

.header-top-line2-dx {
  width: 50%;
  text-align: right;
  float:left;
}

.extra-color-hd-bottom {
  background-color: #fff2ee;
  background-image: url(../img/jumbotron.png);
  background-position: top right;
  background-size: 76.4%;
  background-repeat: no-repeat;
  background-position: content;

}

/* HEADER BOTTOM set */
.header-bottom {
  /* background-color: #fff2ee; */
  height: 500px;
  position: relative;
}

.header-banner {
  width: 520px;
  height: 300px;
  position: absolute;
  top: 50px;
}

/* set fascia che separe  header e main */
.header-sep {
  height: 70px;
  background-color: #afebe4;
    /* bordatura */
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
