
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: 'Yantramanav', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.header-top-line1-sx {
  line-height: 70px;
}

.header-top-line1-sx a {
  color: #33475b;
}

/* ATTENTION! contorllare se il colore è giusto */
.header-top-line2-dx a {
  color: #33475b;
}

.header-top-line2 {
  position: relative;
}

.header-top-line2-dx {
  line-height: 70px;
  /* color: #33475b; */
}

.header-top-line2-dx li {
  line-height: 70px;
  padding-left: 12px;
}

.header-top-line1-dx {
  line-height: 70px;
}

.logo-hubs {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* .header-top-line2-sx li a  {
  position: relative;
} */

/* .logo-hubs {
  position: absolute;
  top: 50%;
  transform:translateY(25%);
} */

.header-top-line1-sx .angle-down {
  width: 22px;
  font-size: 18px;
  padding: 3px;
}

.header-top-line2-dx .angle-down {
  padding-left: 5px;
}

.border-vert {
  border-right: 1px solid #899397;
  /* color: #33475b; */
  height: 15px;
  padding-top: 10px;
}

.header-top-line1-sx li:last-child {
  width: 82px;
  text-align: right;
}

.icon-globe {
  font-size: 12px;
  color: #33475b;
}

.icon-search {
  font-size: 10px;
  color: #01a4bd;
}

.logo-hubs {
  width: 90px;
}

.header-top-line1-dx li {
  margin-left: 14px;
}

.header-top-line1-dx li a {
  line-height: 16px;
}

.header-banner {
  color: #394956;
}

.header-banner p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 22px;
}

header h1 {
  font-weight: 900;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}

h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  font-size: 28px;
  font-weight: 900;
}

h4 {
  font-size: 20px;
  font-weight: 900;
}

h6 {
  font-size: 12px;
}

.header-banner h6 {
  margin-top: 30px;
}

/* centratura larga */
.frame-big {
  width: 68%;
  margin: auto;
  /* colore di debug */
}

/* centratura larga */
.frame-mid {
  width: 58%;
  margin: auto;
  /* colore di debug */
}

/* centratura piccola */
.frame-small {
  width: 48%;
  margin: auto;
  /* colore di debug */
}

/* per togliere i puntini ai list */
.li-depoint {
  list-style: none;
}

.orange-bgcol {
  background-color: #ff7a59;
}

.orange-col {
  color: #ff7a59;
}

.white-col {
  color: #ffff;
}

.btn {
  border-radius: 5px;
  border: none;
  font-size: 15px;
  /* font-weight: bold; */
}

.header-banner a {
  text-decoration: none;
  display: inline-block;
}

.btn-xl {
  padding: 16px 36px;
}

.btn-small {
  padding: 9px 9px;
}

.btn-transparent {
  /* box-sizing: border-box; */
  border: 1px solid #ff7a59;
  background-color: transparent;
  padding: 8px 8px;
}

.btn-transparent a {
  color: #ff7a59;
}

.btn-transparent:hover {
  background-color: #fff1ee;
}

.btn.orange-bgcol:hover {
  background-color: #ffbcac;
}

/* HEADER TOP SET */
.header-top {
  height: 140px;
}

.extra-color-line1 {
  background-color: #f4f9fd;
  height: calc(100% / 2);
  /* linea che separa line 1 e line 2 del HeaderTop */
  border-bottom: 1px solid black;
}

.ul-contact li, .ul-login li, .ul-logo li, .ul-menu li {
  display: inline-block;
}

.ul-contact li a, .ul-login li a, .ul-logo li a, .ul-menu li a {
  text-decoration: none;
}

.ul-menu li {
  /* vertical-align: middle; */
}

.relative-color-line2 {
  background-color: #ffffff;
  height: 70px;
}

.header-top-line1-sx {
  width: 50%;
  height: 70px;
  text-align: left;
  float:left;
}


.header-top-line1-dx {
  width: 50%;
  text-align: right;
  float:left;
}

.header-top-line2-sx {
  height: 70px;
  width: 50%;
  text-align: left;
  float:left;
}

.header-top-line2-dx {
  width: 50%;
  text-align: right;
  float:left;
}

.extra-color-hd-bottom {
  background-color: #fff4ed;
  background-image: url(../img/jumbotron.png);
  background-position: top right;
  /* background-size: 77%; */
  background-size: 1170px;
  background-repeat: no-repeat;
  background-position: content;
}

/* HEADER BOTTOM set */
.header-bottom {
  height: 500px;
  position: relative;
}

.header-banner {
  width: 520px;
  height: 300px;
  position: absolute;
  top: 50px;
}

/* set fascia che separe header e main */
.header-sep {
  height: 70px;
  background-color: #afebe4;
    /* bordatura */
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

/* section features - bg color e height */
.sec-features {
  background-color: #f4f9fd;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* section learngrow - bg color e height */
.sec-learngrow {
  /* ATTENTION: impostare il gradiente */;
  background-color: #00a5bc;
  background-image: linear-gradient(to top right, #00a5bc, #00bca5);
}

/* section customers - bg color e height */
.sec-customers {
  /* background-color: #ffffff; */
  background-color: #F4F9FD;
}

.top-feat-img {
  height: 170px;
}

.sec-features-top {
  color: #394956;
  text-align: center;
}

.sec-features-top > p {
  margin-top: 20px;
  display: inline-block;
  line-height: 24px;
}

.icon-size {
  height: 90px;
  margin-bottom: 15px
}

.sec-features-mid {
  margin-top: 50px;
  /* height: 300px; */
  padding: 50px 100px;
}

.sec-features-mid .col-right p {
  margin-top: 20px;
  margin-bottom: 15px;
  line-height: 24px;
  width: 550px;
}

.box {
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px lightgrey;
  background-color: #ffff;
}

.sec-features-mid .col-left {
  width: 20%;
  float:left;
  height: 200px;
  text-align: center;
}

.sec-features-mid .col-right {
  margin-left: 9%;
  width: 71%;
  float:left;
  height: 200px;
}

.sec-features-mid .col-right h4 {
  display: inline-block;
}

.sec-features-mid .col-right .line-sep {
  display: inline-block;
  height: 0px;
  width: 340px;
  /* width: 450px; */
  border-bottom: 2px solid darkgrey;
  vertical-align: middle;
  margin-left: 50px;
}

.ul-features-hr li {
  display: inline-block;
  padding-left: 10px;
}

.ul-features-hr li:first-child {
  padding-left: 0px;
}

.ul-features-hr {
  margin-top: 20px;
}

/* set header bottom */

.sec-features-bottom {
  margin-top: 50px;
}

.sec-features-bottom .col-left {
  width: 29.33%;
  float:left;
  height: 100%;
  text-align: center;
}

.sec-features-bottom .col-center {
  width: 29.33%;
  float:left;
  height: 100%;
  margin-left: 6%;
  margin-right: 6%;
}

.sec-features-bottom .col-right {
  width: 29.33%;
  float:left;
  height: 100%;
}

.sec-features-mid .col-left .btn {
  display: inline-block;
  margin-top: 20px;
}

.sec-features-mid .col-center .btn {
  display: inline-block;
  margin-top: 20px;
}

.sec-features-mid .col-left .btn {
  display: inline-block;
  margin-top: 20px;
}

.col-text-center {
  text-align: center;
}

.sec-features-bottom .col-left, .sec-features-bottom .col-center, .sec-features-bottom .col-right  {
  width: 29.33%;
  float:left;
  height: 100%;
  padding: 10px 30px;
  text-align: center;
}

.sec-features-bottom .col-left .ico, .sec-features-bottom .col-center .ico, .sec-features-bottom .col-right .ico  {
  display: inline-block;
  margin-top: 20px;
}

.sec-features-bottom .col-left .btn, .sec-features-bottom .col-center .btn, .sec-features-bottom .col-right .btn {
  display: inline-block;
}

.sec-features-bottom p {
  margin-top: 20px;
  line-height: 24px;
}

.ul-features-vt li {
  display: inline-block;
  text-align: left;
}

.ul-features-vt li:nth-child(2) {
  padding-left: 10px;
}
.ul-features-vt {
  text-align: left;
}

.sec-features-bottom .line-sep {
  display: inline-block;
  height: 0px;
  width: 225px;
  border-bottom: 2px solid darkgrey;
  margin-top: 60px;
  margin-bottom: 25px;
}

.sec-features-bottom h4 {
  margin-bottom: 25px;
}

.sec-features-bottom .btn {
  display: inline-block;
  margin-top: 50px;
}

.sec-features a {
  text-decoration: none;
}

/* sezione learngraw */

/* ATTENTION: debug da togliere */
.sec-learngrow-body {
  text-align: center;
  /* background: #ffff;
  opacity: 0.5; */
  height: 100%;
  padding: 50px;
}

.sec-learngrow p {
  font-size: 15px;
  font-weight: 400;
  margin-top: 22px;
  margin-bottom: 22px;
  line-height: 24px;
}

.sec-learngrow .griglia .cella {
  padding: 20px;
}

.sec-learngrow .col1 .cella:first-child {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.sec-learngrow .col1 .cella:last-child {
  border-right: 1px solid white;
}

.sec-learngrow .col2 .cella:first-child {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.sec-learngrow .col2 .cella:last-child {
  border-right: 1px solid white;
}

.sec-learngrow .col3 .cella:first-child {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.sec-learngrow .col3 .cella:last-child {
  border-right: 1px solid white;
}

.sec-learngrow .col4 .cella:first-child {
  border-bottom: 1px solid white;
}


.cella-dato {
  position: relative;
}

.cella-numero {
  font-size: 38px;
  font-weight: 900;
  display: inline-block;
}

.cella-text h6 {
  font-weight: 500;
}

.segno-piu {
  font-size: 20px;
  margin-left: 5px;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.col1 {
  width: 25%;
  float: left;
}

.col2 {
  width: 25%;
  float: left;
}

.col3 {
  width: 25%;
  float: left;
}

.col4 {
  width: 25%;
  float: left;
}

.griglia {
  margin-top: 40px;
  margin-bottom: 40px;
}

.sec-learngrow .griglia .cella-img img {
  height: 34px;
}

/* section customers */

.sec-customers-top {
  /* background-color: red; */
  padding: 50px;
}

.sec-customers-top h2 {
  font-size: 46px;
  font-weight: 700;
}

.sec-customers-top p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  width: 160px;
  margin-top: 50px;
}

.sec-customers-top .col-left {
  float: left;
  width: 40%;
}

.sec-customers-top .col-right {
  float: left;
  width: 60%;
}

.sec-customers .cella-img {
  position: relative;
}

.sec-customers .cella-img img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sec-customers .cella-img {
  height: 70px;
}

.sec-customers-top .cella {
  padding: 0px 10px;
}

/* zona bottom del sec customers */

.sec-customers-bottom {
  /* height: 600px; */
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
}

.customers-banner {
  width: 400px;
  height: 320px;
}

.sec-customers-bottom .btn {
  display: inline-block;
  margin-top: 20px;
}

.customers-banner h2 {
  margin-bottom: 25px;
}

.customers-banner p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 22px;
}

.customers-banner h6 {
  margin-top: 40px;
  font-size: 12px;
  font-weight: 500;
}

.customers-banner a {
  text-decoration: none;
}

.sec-customers-bottom {
  background-image: url('../img/woman.webp');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 280px;
  background-position: content;
}

/* set footer */

footer {
  background-color: #32495b;
}

.footer-top {
  padding-top: 40px;
  font-size: 14px;
  font-weight: 500;
}

.footer-top h5 {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 15px;
}

.set-col {
  float: left;
  width: 25%;
}

.no-dec {
  text-decoration: none;
}

/* colore di default del link del footer */
.col-def {
  color: #cbd6e2;
}

/* colore hover link del footer */
.col-hover {
  color: #7fd1de;
}

/* colore hover link del footer */
.col-tit {
  color: #ffff;
}

/* colore del titolo della lista di link */
.link-list {
  line-height: 30px;
}

/* colore di sfondo del button del footer */
.bgcol-btn-foot {
  background-color: #dadee0;
}

/* colore di hover per il ink del footer */
.link-list a:hover {
  color: #7fd1de;
}

/* colore di hover per il ink del footer */
.list-lang a:hover {
  color: #7fd1de;
}

.btn-col {
  color: #32495b;
}

.foot-col4 .btn {
  margin-top: 50px;
}

#btn-footer {
  display: inline-block;
  margin-top: 20px;
}

#btn-footer a:hover {
  background-color: #eaf0f6;
}

.list-social {
  margin-top: 30px;
}

.list-social li {
  display: inline-block;
  font-size: 14px;
}

.list-social li:nth-child(1n+2) {
  padding-left: 16px;
}

.list-lang li {
  display: inline-block;
  padding: 12px;
}

.list-lang {
  text-align: center;
  margin-top: 200px;
}

.footer-bottom h5 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
}

.list-policy li {
  display: inline-block;
  padding-left: 12px;
}

.footer-bottom .col-left {
  float: left;
  width: 50%;
  margin: 50px 0px;
}

.footer-bottom .col-right {
  float: left;
  width: 50%;
  text-align: right;
  margin: 50px 0px;
}

.footer-bottom {
  border-top: 1px solid #cbd6e2;
  margin-top: 10px;
}
