* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* centratura larga */
.frame-big {
  width: 80%;
  margin: auto;
  /* colore di debug */
}

/* centratura piccola */
.frame-small {
  width: 55%;
  margin: auto;
  /* colore di debug */
}

/* per togliere i puntini ai list */
.li-depoint {
  list-style: none;
}

/* HEADER TOP SET */
.header-top {
  height: 140px;
}

.extra-color-line1 {
  background-color: #f4f9fd;
  height: calc(100% / 2);
  border-bottom: 1px solid black;
}


/* .hd-sep-line1-2 {
  height: 1px;
  color: black;
} */

.header-top-line1 {
  /* separatore 2 linee header top */
  /* border-bottom: 1px solid black; */
}

.ul-contact li, .ul-login li, .ul-logo li, .ul-menu li {
  display: inline-block;
}

.extra-color-line2 {
  background-color: #ffffff;
  height: calc(100% / 2);
}

.header-top-line2 {
  height: calc(100% / 2);
}

.header-top-line1-sx {
  width: 50%;
  text-align: left;
  float:left;
}

.header-top-line1-dx {
  width: 50%;
  text-align: right;
  float:left;
}

.header-top-line2-sx {
  width: 50%;
  text-align: left;
  float:left;
}

.header-top-line2-dx {
  width: 50%;
  text-align: right;
  float:left;
}

.extra-color-hd-bottom {
  background-color: #fff2ee;
}

/* HEADER BOTTOM set */
.header-bottom {
  background-color: #fff2ee;
  height: 500px;
}

.header-banner {
  width: 300px;
  height: 300px;
  background-color: lightgrey;
  position: absolute;
  top: 30%;
}

/* set fascia che separe  header e main */
.header-sep {
  height: 70px;
  background-color: #afebe4;
  /* bordatura */
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
